---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head.html %}
  <body>
    <main style="display: flex; flex-direction: column; align-items: center; padding: 0 10px;">
      <div style="text-align: left; width: 100%;">
        <h1>&#x1F99D + &#x1F9A6</h1>
      </div>
      <div style="display: flex; width: 100%; justify-content: flex-start; flex-wrap: wrap;">
        <div style="flex: 1; max-width: 200px; width: 100%;">
          {% include navigation.html %}
        </div>
          {{ content }}
      </div>
    </main>


  </body>
</html>
