---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main style="display: flex; flex-direction: column; align-items: center;">
      <div style="text-align: left; width: 100%;">
        <h1>&#x1F99D + &#x1F9A6</h1>
      </div>
      <div style="display: flex; width: 100%; justify-content: flex-start;">
        <div style="flex: 1; max-width: 200px;">
          {% include navigation.html %}
        </div>
        <div style="flex: 3; padding-left: 20px;">
          {{ content }}
        </div>
      </div>
    </main>
  </body>
</html>
